# Reference: https://github.com/cheyao/icepi-zero/blob/main/firmware/v1.3/icepi-zero-v1_3.lpf

LOCATE COMP "clk_osc" SITE "M1";
IOBUF PORT "clk_osc" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_osc" 50 MHZ;

# UART TX/RX (from FPGA's point of view, i.e. TX is an output)

LOCATE COMP "uart_tx" SITE "K15"; # FPGA transmits to ftdi
LOCATE COMP "uart_rx" SITE "K16"; # FPGA receives from ftdi
IOBUF  PORT "uart_tx" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "uart_rx" PULLMODE=UP IO_TYPE=LVCMOS33;

# USB pins (from Icepi pinout)
LOCATE COMP "usb_dp" SITE "F15";
LOCATE COMP "usb_dn" SITE "E16";
LOCATE COMP "usb_dp_pu" SITE "G15";
IOBUF  PORT "usb_dp" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
IOBUF  PORT "usb_dn" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;
IOBUF  PORT "usb_dp_pu" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE;

# GPIOs
LOCATE COMP "gpio[0]" SITE "G3"; # 27
IOBUF  PORT "gpio[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE; # BMP581 SDA
LOCATE COMP "gpio[1]" SITE "K3"; # 28
IOBUF  PORT "gpio[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE; # BMP581 SCL
LOCATE COMP "gpio[2]" SITE "T2"; # 3
IOBUF  PORT "gpio[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[3]" SITE "R2"; # 5
IOBUF  PORT "gpio[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[4]" SITE "R1"; # 7
IOBUF  PORT "gpio[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[5]" SITE "E1"; # 29
IOBUF  PORT "gpio[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[6]" SITE "F3"; # 31
IOBUF  PORT "gpio[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[7]" SITE "G1"; # 26
IOBUF  PORT "gpio[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[8]" SITE "H2"; # 24
IOBUF  PORT "gpio[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[9]" SITE "J1"; # 21
IOBUF  PORT "gpio[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[10]" SITE "L2"; # 19
IOBUF  PORT "gpio[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[11]" SITE "G2"; # 23
IOBUF  PORT "gpio[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[12]" SITE "J3"; # 32
IOBUF  PORT "gpio[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[13]" SITE "E3"; # 33
IOBUF  PORT "gpio[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[14]" SITE "P1"; # 8 TM1637 DIO
IOBUF  PORT "gpio[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "gpio[15]" SITE "N1"; # 10 TM1637 CLK
IOBUF  PORT "gpio[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "gpio[16]" SITE "H3"; # 36
IOBUF  PORT "gpio[16]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[17]" SITE "R3"; # 11
IOBUF  PORT "gpio[17]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[18]" SITE "N4"; # 12
IOBUF  PORT "gpio[18]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[19]" SITE "E4"; # 35
IOBUF  PORT "gpio[19]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[20]" SITE "F1"; # 38
IOBUF  PORT "gpio[20]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[21]" SITE "F2"; # 40
IOBUF  PORT "gpio[21]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[22]" SITE "P2"; # 15
IOBUF  PORT "gpio[22]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[23]" SITE "M2"; # 16
IOBUF  PORT "gpio[23]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[24]" SITE "L1"; # 18
IOBUF  PORT "gpio[24]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[25]" SITE "J2"; # 22
IOBUF  PORT "gpio[25]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[26]" SITE "D4"; # 37
IOBUF  PORT "gpio[26]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
LOCATE COMP "gpio[27]" SITE "P3"; # 13
IOBUF  PORT "gpio[27]" IO_TYPE=LVCMOS33 PULLMODE=DOWN;
